.my-navbar {
  text-align: right;
  background-color: #42bacf;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.my-navbar a {
  font-size: 2em;
}

.my-navbar ul li {
  font-size: 0.75em;
}
