.wrapper {
  display: flex;
  width: 100%;
  min-width: 98vw;
  align-items: stretch;
  background-attachment: fixed;
  background-position: center;
  background-image: url(../static/img/addDoctor-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: static;
  min-height: 100vh;
  height: 100%;
}

.wrapper button span {
  font-size: 1.5em;
}

.my-Register-page {
  padding-top: 5em;
}

.add-patient-card,
.add-doctor-card {
  margin: 4vw;
  margin-top: 4em;
  min-width: 60vw;
  background-color: rgba(226, 242, 253, 0.85);
  border: rgb(139, 208, 255) 1px solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s;
}

.add-patient-card {
  width: 102%;
}

.add-doctor-card {
  width: 95%;
}

.add-patient-card.active,
.add-doctor-card.active {
  margin: 8vw;
  margin-top: 4em;
}

.add-patient-card h5,
.add-doctor-card h5 {
  font-size: 1.75em;
}

.add-patient-card form label,
.add-patient-card form input,
.add-patient-card form button,
.add-patient-card form select,
.add-patient-card form p,
.add-doctor-card form label,
.add-doctor-card form input,
.add-doctor-card form button,
.add-doctor-card form select,
.add-doctor-card form p {
  font-size: 1.5em;
}

.my-radio-button {
  width: 1em;
  height: 1em;
  margin-top: 10px;
  margin-right: 5px;
}

.sidebar-button {
  background-color: #5676f6;
  border-color: #4f6bdb;
}

.avatar-label {
  text-align: center;
}

@media only screen and (max-width: 1700px) {
  .add-patient-card,
  .add-doctor-card {
    width: 90%;
  }
}

@media only screen and (max-width: 1600px) {
  .add-patient-card,
  .add-doctor-card {
    margin: auto;
    margin-top: 4em;
    width: 95%;
    background-color: rgba(226, 242, 253, 0.5);
    margin-bottom: 4em;
    border: rgb(139, 208, 255) 1px solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .add-patient-card.active,
  .add-doctor-card.active {
    margin: auto;
    margin-top: 4em;
    width: 95%;
  }
}
