.wrapper {
  display: flex;
  width: 100%;
  min-width: 98vw;
  background-attachment: fixed;
  background-position: center;
  background-image: url(../static/img/addDoctor-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: static;
  min-height: 100vh;
  height: 100%;
}

.my-Register-page {
  padding-top: 5em;
}

.my-Register-card {
  margin: 4vw;
  margin-top: 4em;
  width: 100%;
  min-width: 60vw;
  /* max-width: 80vw; */
  background-color: rgba(226, 242, 253, 0.5);
  border: rgb(139, 208, 255) 1px solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.my-Register-card h5 {
  font-size: 1.75em;
}

.my-Register-card form label,
.my-Register-card form input,
.my-Register-card form button,
.my-Register-card form select {
  font-size: 1.5em;
}

@media only screen and (max-width: 1700px) {
  .my-Register-card {
    margin: auto;
    width: 95%;
    background-color: rgba(226, 242, 253, 0.5);
    margin-bottom: 4em;
    border: rgb(139, 208, 255) 1px solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
