#sidebar {
  min-width: 300px;
  max-width: 300px;
  min-height: 100vh;
  background: #5676f6;
  color: #fff;
  text-align: right;
  transition: all 0.3s;
}

#sidebar.active {
  margin-right: -300px;
}

#sidebar .sidebar-header h3 {
  padding: 20px;
  background: #4f6bdb;
  font-size: 2.2em;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 2px solid #4f6bdb;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
  font-size: 2em;
}

#sidebar ul li a {
  color: #fff;
  padding: 10px;
  font-size: 1.5em;
  display: block;
}

#sidebar ul li a:hover {
  color: #1837b4;
  background: #99adfd;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #4f6bdb;
}

@media (max-width: 1000px) {
  #sidebar {
    margin-right: -300px;
  }
  #sidebar.active {
    margin-right: 0;
  }
}
